body{
  margin: 0;
}

header{
  min-width:inherit;
  min-height: 100px;
  background-color:rgb(108, 102, 102)
}

main{
  width: inherit;
}

.first{
  width: inherit;
  display: flex;
  flex-wrap: wrap;
}

.first div{
  width: 50%;
  box-sizing: border-box;
  padding: 200px 0px 200px 0;
}

.fone{
  background-color: rgb(102, 101, 101)
}

.ftwo{
  background-color: rgb(100, 95, 95);
}

.fthree{
  background-color: rgb(99, 93, 93)
}

.ffour{
  background-color: rgb(99, 96, 96)
}
.second{
  display: flex;
  width: inherit;
  background-color: rgb(192, 185, 185);
}

.second div{
  width: 33.333333%;
  min-height: 400px;
}

.trois{
  display: flex;
  width: inherit;
  width: 100%;
}

.three1{
  width: 40%;
  background-color: rgb(53, 49, 49)
}

.three2{
  width: 60%;
  background-color: rgb(100, 95, 95);
}

.extra{
  background-color: rgb(192, 185, 185);
  min-height: 40px;
}
.trois div{
  min-height: 400px;
  border: 1px solid;
}
.trois1{
  width: 40%;
  background-color: rgb(192, 185, 185);
}

.trois2{
  width: 60%;
  background-color: rgb(100, 95, 95);
}

.extra2{
  background-color: rgb(192, 185, 185);
  min-height: 40px;
}
.quatre{
  width: inherit;
  min-height: 500px;
  background-color: rgb(41, 40, 40);
}

.cinq{
  width: inherit;
  display: flex;
  flex-direction: column;
  background-color: rgb(192, 185, 185);
}
.cinq .child1{
  min-height: 400px;

}

.cinq .child2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.child2 div{
  width: 50%;
  height: 200px;
  box-sizing: border-box;
  border: 1px solid;
}

.six{
  width: inherit;
  min-height: 400px;
  background-color: rgb(100, 95, 95);
}

