body {
  margin: -8px 0px 0px 0px;
  color: rgb(0, 0, 0);
  background-color: rgb(212, 212, 212)
}
p{
  font-family: "noto serif jp";
  line-break: auto;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}

h2{
  text-align: center;
}
header {
  min-width: inherit;
  min-height: 100px;
  background-color: rgb(108, 102, 102);
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
}

.menu-items li {
  margin: 2px;
  text-align: center;
  padding-top: 20px;
}

main {
  width: inherit;
}

.first {
  display: grid;
  min-height: 750px;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
}

.fone {
  background-color: rgb(161, 161, 161)
}

.ftwo {
  background-color: rgb(158, 158, 158);
}

.fthree {
  background-color: rgb(129, 129, 129)
}

.ffour {
  background-color: rgb(141, 141, 141)
}

.second{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 450px;
}

.trois{
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template: repeat(5, 1fr)/repeat(5, 1fr);
  height: 550px;
  grid-gap: 20px;
}

.three1{
  grid-area: 1/1/4/3;
  background-color: rgb(161, 161, 161);
  border-radius: 20px;
}

.three2, .trois2{
  grid-area: 1/3/6/6;
  border-radius: 20px;
  background-color: rgb(141, 141, 141);
}

.cinq{
  min-height: 450px;
}

.child1{
  display: grid;
  grid-template-rows: repeat(3,1fr);
}

.six{
  min-height: 150px;
}

.seven{
  min-height: 450px;
  display: grid;
  grid-template: repeat(3 ,1fr)/ repeat(3, 1fr);
}

.eight{
  min-height: 350px;
  background-color: rgb(141, 141, 141);
}

.six{
  min-height: 450px;
  background-color: rgb(141, 141, 141);
}